# TTS配置
TTS_HOST=127.0.0.1
TTS_PORT=50000
TTS_MODE=zero_shot

# ASR配置
ASR_ENABLED=false
ASR_URI=ws://localhost:10095/ws
ASR_MODE=2pass-offline

# 服务配置
SERVER_HOST=0.0.0.0
SERVER_PORT=8001

# 文件配置
UPLOAD_DIR=./temps
PRESET_DIR=./presets
